body {
    font-family: Arial, sans-serif;
    background-color: #f2e8d5;
    padding: 40px;
}

.container {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3 {
    text-align: center;
}

.formulario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

input {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #1faa49; 
    border-radius: 5px;
     }





button:hover {
    background-color: #2d8f45;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #313131;
}

th {
    background-color: #2fa352;
    color: white;
}

th, td {
    padding: 8px;
    text-align: center;
}

td button {
    background-color: #ff0000d0;
    color: white;
    border-radius: 8px
     ;
}

td button:hover {
    background-color: #8b0008;
    ;
}
.editar{
    background-color: #1479cc;
}

.editar:hover{
    background-color: #00a0eb;
}


    